* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #009688 15%, #dbdbd3 0%);
}

h2 {
    font-size: 17px;
}

#root {
    height: calc(100vh - 40px);
    width: 80%;
}

main {
    height: calc(100% - 75px );
    display: flex;
}


/* HEADER */
header {
    height: 75px;
    display: flex;
}
.header_left,
.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
    background-color: #eaeaea;
}
.header_right {
    width: 65%;
    height: 100%;
    background-color: #eaeaea;
}
/* /HEADER */

/* AVATAR */
.avatar {
    margin: 0 10px;
    height: 55px;
    border-radius: 50%;
}

.icon_header_left {
    display: flex;
    align-items: center;
}

.icon_header_right i {
    font-size: 22px;
    padding: 10px;
    color: #b1b1b1;
}
/* /AVATAR */

/* ASIDE */
/* aside left */
.aside_left {
    width: 35%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
    background-color: #ffffff;
}
#notification {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #8edafc;
}
#notification i {
    margin: 0 10px;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    color: #8edafc;
    background-color: white;
}

#text_notification p:last-child {
    text-decoration: underline;
    color: #4f7485;
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fafafa;
}

#search_bar input {
    width: 97%;
    height: 30px;
    border-width: 1px;
    border-style: none;
    border-color: lightgray;
}

.contacts {
    overflow-y: scroll;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

#data_user {
    width: 30%;
    padding-right: 10px;
    font-size: 11px;
    text-align: right;
    align-self: flex-start;
    color: grey;
}

.text_user {
    width: 70%;
}
.text_user p:last-child {
    font-size: 15px;
    color: gray;
}
/* section right */
.section_right {
    width: 65%;
    height: 100%;
    background-color: lightblue;
}


#chat_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #f3eeea;
}
#chat_box input {
    width: 80%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
}
#chat_box i {
    font-size: 25px;
    color: #6b7376;
}

#conversation {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container {
    height: calc(100% - 80px);
    padding: 50px;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
}

.text {
max-width: 300px;
padding: 10px 5px 2px 10px; 
border-radius: 10px;
}

.text p {
    text-align: left;
    font-size: 15px;
    padding: 5px 10px;
}
.text h5 {
    text-align: right;
    font-size: 10px;
    color: grey;
}

.active {
    background-color: #e9ebeb;
}

.text_sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.text_received {
    align-self: flex-start;
    background-color: white;
}












